/******************************************************************************
     * Basic elements
******************************************************************************/

* {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	user-select: none;
	-khtml-user-select: none;
	-o-user-select: none
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

body, html, canvas {
	color: rgb(255,255,255);
	overflow: hidden;
	margin: 0;
}

canvas {
	top: 0;
	left: 0;
	display: block;
	position: absolute;
}

a {
	color: rgb(255,255,255);
}

/******************************************************************************
	 * Containers		
******************************************************************************/

#focus, #title, #searchWrapper {
	background-color: rgba(255,255,255,.1);
	position: absolute;
	border: none;
	padding: 10px;
}
#focus {
	left: 0;
	top: 10;
}

#title {
	right: 0;
	bottom: 10;
}

#searchWrapper {
	right: 0;
	top: 10;
}

h1 {
	font-size: 150%;
	margin: 5px 0;
}

h2 {
	font-size: 100%;
	margin: 5px 0;
}

p {
	font-size: 70%;
	margin: 5px 0;
	line-height: 1.4;
}